.hidden {
    display: none;
  }
  
  
  #sub-btn {
    height: 20px;
    width: 80px;
  }
  
  #state-input {
    width: 200px;
  }

  input {
    height: 20px;
    width: 40px;
  }
  
  li {
    padding-top: 5px;
  }
  
  ul {
    padding-top: 5px;
  }
  
  span {
    font-weight: bold;
  }
  
  .park {
    padding-bottom: 15px;
  }